.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 150px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.boxFace,
.boxBack {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.boxFace {
  background-color: lightblue;
}

.boxBack {
  background-color: #f0f0f0;
  transform: rotateY(180deg);
}
